if SHIELD_NAZUNA50_LEFT

config ZMK_KEYBOARD_NAME
    default "nazuna50"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_NAZUNA50_LEFT

if SHIELD_NAZUNA50_LEFT || SHIELD_NAZUNA50_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_NAZUNA50_LEFT || SHIELD_NAZUNA50_RIGHT
