if SHIELD_NAZUNA49_RIGHT

config ZMK_KEYBOARD_NAME
    default "nazuna49"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_NAZUNA49_LEFT

if SHIELD_NAZUNA49_LEFT || SHIELD_NAZUNA49_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_NAZUNA49_LEFT || SHIELD_NAZUNA49_RIGHT
